<!-- templates/create_account.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'operation/css/registro1.css' %}">
</head>
<body>
    <div class="container">
        <h1>Registro</h1><br/>

        <div class="form-container">
            <div class="form-left">
                <form method="POST">
                    {% csrf_token %}
                    <label>
                        <h3>Correo Electrónico:</h3>
                        <input type="email" name="correo" required />
                    </label>
                    <br/>
                    <label>
                        <h3>Nombre:</h3>
                        <input type="text" name="nombre" required />
                    </label>
                    <br/>
                    <label>
                        <h3>Contraseña:</h3>
                        <input type="password" name="contraseña" required />
                    </label>
                    <br/>
                    <div class="submit-iconnn">
                        <h4>Da click en <a href="{% url 'operation:informacion' %}">"Continuar"</a></h4><br/>
                    </div>
                </form>
                <br/>
                <h4>Debe iniciar sesión para utilizar los servicios</h4><br/>
                <h4>¿Ya tienes una cuenta? Da click en <a href="operation/login">Iniciar Sesión</a></h4><br/>
            </div>

            <div class="form-right">
                <h3>
                    * Por favor, cambie su contraseña periódicamente y asegúrese de que no sea revelada a terceros.
                    <br/><br/>
                </h3>
                <h3>
                    * Después de iniciar sesión, toda la información será resguardada.<br/><br/>
                </h3>
                <h3>
                    * Después de iniciar sesión puede utilizar diversa información y servicios personalizados.
                </h3>
            </div>
        </div>
    </div>
</body>
</html>
