<!-- templates/modificar_datos.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Datos del Paciente</title>
    <link rel="stylesheet" href="{% static 'operation/css/registro2.css' %}">
</head>
<body>
    <div class="modificar-datos-container">
        <h1 class="modificar-datos-title">Modificar Datos</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="Rectangulo">
                <label>Nombre:</label>
                <label>
                    <input type="text" name="nombre" />
                </label>

                <label>Correo Electrónico:</label>
                <label>
                    <input type="email" name="correo" />
                </label>

                <label>Teléfono Celular:</label>
                <label>
                    <input type="text" name="telefonoCelular" />
                </label>

                <label>Teléfono Fijo:</label>
                <label>
                    <input type="text" name="telefonoFijo" />
                </label>

                <label>Fecha de Nacimiento:</label>
                <label>
                    <input type="date" name="fechaNacimiento" />
                </label>

                <label>CURP:</label>
                <label>
                    <input type="text" name="curp" />
                </label>

                <h3>Dirección</h3>
                <label>Calle:</label>
                <label>
                    <input type="text" name="calle" />
                </label>

                <label>Colonia:</label>
                <label>
                    <input type="text" name="colonia" />
                </label>

                <label>No. Exterior:</label>
                <label>
                    <input type="text" name="noExterior" />
                </label>

                <label>No. Interior:</label>
                <label>
                    <input type="text" name="noInterior" />
                </label>

                <label>Código Postal:</label>
                <label>
                    <input type="text" name="codigoPostal" />
                </label>

                <label>Municipio:</label>
                <label>
                    <input type="text" name="municipio" />
                </label>

                <label>Estado:</label>
                <label>
                    <input type="text" name="estado" />
                </label>

                <label>País:</label>
                <label>
                    <input type="text" name="pais" />
                </label>

                <button type="submit"><a href="{% url 'users:info' %}">Guardar Cambios</a></button>
            </div>
        </form>
    </div>
</body>
</html>
