/* Estilos generales para la página */
.container {
    width: 100%;
    text-align: center;
    padding: 20px;
}

/* Estilos para el contenedor del formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f9f9f9;
    border: 2px solid #505050;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la parte izquierda del formulario */
.form-left {
    flex: 1;
    padding-right: 20px;
    border-right: 2px solid #000000;
}

/* Estilos para la parte derecha del formulario */
.form-right {
    flex: 1;
    padding-left: 20px;
}

/* Estilos para los campos del formulario */
form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #505050;
    border-radius: 5px;
}

/* Estilos para los botones */
button {
    background-color: #757575;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

/* Evitar el estilo predeterminado de enfoque de los botones (borde azul) */
button:focus {
    outline: none;
    box-shadow: none; /* Elimina el borde azul de foco */
}

/* Animación de hover sobre el botón */
button:hover {
    background-color: #ffffff;
}

/* Estilo para la imagen dentro del botón */
.submit-iconnn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.submit-image {
    width: 30px;  /* Ajusta el tamaño de la imagen */
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

button:hover .submit-image {
    transform: scale(1.1); /* Hace que la imagen crezca un poco */
    filter: brightness(1.2); /* Aumenta el brillo de la imagen */
}

/* Estilos para los textos debajo del formulario */
p {
    font-size: 14px;
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
